<H1>Backends</H1>

<table class="table table-bordered">
  <thead><tr>
    <th>Master</th>
    <th>Host</th>
    <th>Port</th>
    <th>Hostname</th>
    <th>Actions</th>
  </tr></thead>
  <tbody><% for be in @backends %>
    <tr>
      <td><%= be.master_slug %></td>
      <td><%= be.host %></td>
      <td><%= be.port %></td>
      <td><%= be.frontend %></td>
      <td><%= button_to "Delete", backend_path(be), :method => :delete, :class => "btn btn-mini", :confirm => "Are you sure?" %></td>
    </tr>
  <% end %></tbody>
</table>