<%= render :partial => "frontends/backends/worker_endpoint/update_log" %>

<h1>Worker Endpoint</h1>

<%= link_to @installation.name, installation_path(@installation) %> >
<%= link_to "#{@frontend.name}(#{@frontend.remote_host})", frontend_path(@frontend) %> >
<%= link_to @worker_endpoint.backend.name, frontend_backend_path(@frontend, @backend) %>
<div id="worker_endpoint_status_table">
  <%= render :partial => 'worker_endpoint_status_table' %>
</div>


<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Frontend</th>
    <td><%= link_to @frontend.name, frontend_backends_path(@frontend) %></td>
  </tr>
  <tr>
    <th>Host IP</th>
    <td><%= @frontend.external_ip %></td>
  </tr>
  </tbody>
</table>

<%= render :partial => "frontends/backends/backend_table" %>


<h3>Log
  <%= button_to "Clear", clear_log_frontend_backend_worker_endpoint_path(@frontend, @backend, @worker_endpoint), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @worker_endpoint_job.logger.to_a do %>
      <div><%= l %></div>
  <% end if @worker_endpoint_job %>
</div>