<table class="table table-bordered">
  <tr>
    <th>Component</th>
    <th>Name</th>
    <th>Jobs</th>
    <th>Last Job Status</th>
    <th>Remote Status</th>
  </tr>
  <tbody>
  <tr>
    <th>Installation</th>
    <td><%= link_to @installation.name, installation_path(@installation) %></td>
    <td><%= @installation.deploy_installation_job.delayed_jobs.count if @installation.deploy_installation_job %></td>
    <td><%= @installation.job_status %></td>
    <td><%= button_to "Update", ping_remote_status_installation_path(@installation), :class => "btn btn-mini" %></td>
  </tr>
  <% for fe in @installation.frontends do %>
      <tr>
        <th>Frontend</th>
        <td><%= link_to fe.name, frontend_path(fe) %></td>
        <td><%= fe.deploy_frontend_job.delayed_jobs.count if fe.deploy_frontend_job %></td>
        <td>
          <% for s in fe.git_commit do %>
              <div><%= s %></div>
          <% end if fe.git_commit %>
        </td>
        <td><%= (fe.listen_status.length > 0 ? "UP" :"DOWN") if fe.listen_status %></td>
      </tr>
      <% for be in fe.backends %>
          <tr>
            <td>Backend</td>
            <td><%= link_to be.name, frontend_backend_path(fe,be) %></td>
            <td><%= be.deploy_backend_job.delayed_jobs.count if be.deploy_backend_job %></td>
            <td>N/A
            </td>
            <td><%= (be.listen_status.length > 0 ? "UP" :"DOWN") if be.listen_status %></td>
          </tr>
          <% for se in be.swift_endpoints do %>
              <tr>
                <td>Swift Endpoint</td>
                <td><%= link_to se.name, frontend_backend_swift_endpoint_path(fe,be,se) %></td>
                <td><%= se.deploy_swift_endpoint_job.delayed_jobs.count if se.deploy_swift_endpoint_job %></td>
                <td>
                  <% for s in se.git_commit do %>
                      <div><%= s %></div>
                  <% end if se.git_commit %>
                  <div>UPDATED <%= se.updated_at %></div>
                </td>
                <td>
                  <% for s in se.remote_status do %>
                      <div><%= s %></div>
                  <% end if se.remote_status %>
                  <div><%= "Instance:#{se.instance_status}" if se.instance_status %></div>
                </td>
              </tr>
          <% end %>
          <% for we in be.worker_endpoints do %>
              <tr>
                <td>Worker Endpoint</td>
                <td><%= link_to we.name, frontend_backend_worker_endpoint_path(fe,be,we) %></td>
                <td><%= we.deploy_worker_endpoint_job.delayed_jobs.count if we.deploy_worker_endpoint_job %></td>
                <td>
                  <% for s in we.git_commit do %>
                      <div><%= s %></div>
                  <% end if we.git_commit %>
                  <div>UPDATED <%= se.updated_at %></div>
                </td>
                <td>
                  <% for s in we.remote_status do %>
                      <div><%= s %></div>
                  <% end if we.remote_status %>
                  <div><%= "Instance:#{we.instance_status}" if we.instance_status %></div>
                </td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>