<%= render :partial => "installations/update_deploy_status" %>

<h1>Installation Deploy Status</h1>

<table class="table table-bordered">
  <tbody>
  <td><%= button_to "Update Status", ping_remote_status_installation_path(@installation), :class => "btn btn-mini" %></td>

  <td><%= button_to "Destroy All Job States", destroy_all_jobs_installation_path(@installation), :class => "btn btn-mini" %></td>  </tbody>
</table>
<div id="status_table">
<%= render :partial => 'deploy_table_status' %>
</div>

<h3>Log
  <%= button_to "Clear", clear_log_installation_path(@installation), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @installation.logger.to_a do %>
      <div><%= l %></div>
  <% end %>
</div>