<h1>Edit Frontend Git</h1>

<%= form_for @installation, :url => update_frontend_git_installation_path(@installation) do |f| %>
    <%= f.label :frontend_git_repository %>
    <%= f.text_field :frontend_git_repository, :class => "input-xxlarge" %>
    <%= f.label :frontend_git_refspec %>
    <%= f.text_field :frontend_git_refspec %>
    <%= f.label :frontend_git_name %>
    <%= f.text_field :frontend_git_name %>
    <br />
    <br />
    <%= f.submit "Update", :class => "btn" %>
<% end %>

<%= link_to "Installation #{@installation.name}", installation_path(@installation) %>