<h1>Installation</h1>

<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Name</th>
    <td><%= link_to @installation.name, edit_installation_path(@installation) %></td>
    <th>SSH Key</th>
    <td><%= link_to @installation.ssh_key_name, remote_key_path(:name => @installation.ssh_key_name) if !@installation.ssh_key_name.blank? %></td>
    <th>Heroku API Key</th>
    <td><%= link_to @installation.deploy_heroku_api_key_name, deploy_heroku_api_key_path(:name => @installation.deploy_heroku_api_key_name) if !@installation.deploy_heroku_api_key_name.blank? %></td>
  </tr>
  <tr>
    <td colspan="6">
      <%= @installation.remote_configuration_literal %>
    </td>
  </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td><%= button_to "Create", create_all_installation_path(@installation), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy", deploy_all_installation_path(@installation), :class => "btn btn-mini"  %></td>
    <td><%= button_to "Start", start_all_installation_path(@installation), :class => "btn btn-mini"  %></td>
    <td><%= button_to "Restart", restart_all_installation_path(@installation), :class => "btn btn-mini"  %></td>
    <td><%= button_to "Stop ", stop_all_installation_path(@installation), :class => "btn btn-mini"  %></td>
    <td><%= link_to "Job Status", job_status_installation_path(@installation), :class => "btn btn-mini"  %></td>
    <td><%= link_to "Deploy Status", deploy_status_installation_path(@installation), :class => "btn btn-mini"  %></td>
  </tr>
  <tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Frontend Name</th>
    <th>Remote Host</th>
    <th>Backends</th>
    <th>Server Endpoints</th>
    <th>Worker Endpoints</th>
  </tr>
  </thead>
  <tbody>
  <% for fe in @installation.frontends do %>
  <tr>
    <td><%= link_to fe.name, frontend_path(fe) %></td>
    <td><%= link_to fe.remote_host, frontend_path(fe) %></td>
    <td><%= fe.backends.count %></td>
    <td><%= fe.server_endpoints.count %></td>
    <td><%= fe.worker_endpoints.count %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Frontend", new_frontend_path(:installation_id => @installation.id) %>

<% for fe in @installation.frontends.order(:host) do %>
    <h4><%= fe.name %></h4>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Backend Name</th>
        <th>Server Endpoints</th>
        <th>Worker Endpoints</th>
      </tr>
      </thead>
      <tbody>
      <% for be in fe.backends.order(:name) do %>
      <tr>
        <td><%= link_to be.name, frontend_backend_path(fe,be) %></td>
        <td><%= link_to be.server_endpoints.count, frontend_backend_server_endpoints_path(fe, be) %>
          <%= link_to "+", new_frontend_backend_server_endpoint_path(fe, be), :class => "btn btn-mini" %>
        </td>
        <td><%= link_to be.worker_endpoints.count, frontend_backend_worker_endpoints_path(fe, be) %>
          <%= link_to "+", new_frontend_backend_worker_endpoint_path(fe, be), :class => "btn btn-mini" %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Frontend Git Repository</th>
    <th>Git Refspec(branch)</th>
    <th>Git Name</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= @installation.frontend_git_repository %></td>
    <td><%= @installation.frontend_git_refspec %></td>
    <td><%= @installation.frontend_git_name %></td>
    <td><%= link_to "Edit", edit_frontend_git_installation_path(@installation), :class => "btn btn-mini" %></td>
  </tr>
  <tr>
    <th>Server Endpoint Git Repository</th>
    <th>Git Refspec(branch)</th>
    <th>Git Name</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= @installation.server_endpoint_git_repository %></td>
    <td><%= @installation.server_endpoint_git_refspec %></td>
    <td><%= @installation.server_endpoint_git_name %></td>
    <td><%= link_to "Edit", edit_server_endpoint_git_installation_path(@installation), :class => "btn btn-mini" %></td>
  </tr>
  <tr>
    <th>Worker Git Repository</th>
    <th>Git Refspec(branch)</th>
    <th>Git Name</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= @installation.worker_endpoint_git_repository %></td>
    <td><%= @installation.worker_endpoint_git_refspec %></td>
    <td><%= @installation.worker_endpoint_git_name %></td>
    <td><%= link_to "Edit", edit_worker_endpoint_git_installation_path(@installation), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>


<h3>Log
  <%= button_to "Clear", clear_log_installation_path(@installation), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @installation.logger.to_a do %>
      <div><%= l %></div>
  <% end %>
</div>