<%= render :partial => "frontends/backends/frontend_update_log" %>
<H1>Frontend Backends</H1>
<%= link_to @frontend.installation.name, installation_path(@frontend.installation) %> >
<%= link_to "#{@frontend.name}(#{@frontend.remote_host})", frontend_path(@frontend) %>


<table class="table table-bordered">
  <thead>
  <tr>
    <th>Installation</th>
    <th>Frontend Name</th>
    <th>Remote Host</th>
    <th>Type</th>
    <th>External IP</th>
  </tr>
  </thead>
  <tbody>
  <% for fe in [@frontend] do %>
      <tr>
        <td><%= link_to fe.installation.name, installation_path(fe.installation) %></td>
        <td><%= link_to fe.name, frontend_path(fe) %></td>
        <td><%= fe.remote_host %></td>
        <td><%= fe.deployment_type %></td>
        <td id="frontend_hostip"><%= fe.external_ip %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<table class="table table-stripped">
  <tbody>
  <tr>
    <th>Backend Actions</th>
    <td><%= button_to "Status", status_all_frontend_backends_path(fe), :class => "btn btn-mini" %></td>
    <td><%= button_to "Start All", start_all_frontend_backends_path(fe), :class => "btn btn-mini" %></td>
    <td>
      <%= button_to "Restart All", restart_all_frontend_backends_path(fe), :class => "btn btn-mini" %></td>
    <td>
      <%= button_to "Stop All", stop_all_frontend_backends_path(fe), :class => "btn btn-mini" %></td>
    <td>
      <%= button_to "Delete", frontend_path(fe), :method => :delete, :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Hostnames</th>
    <th>Server Endpoints</th>
    <th>Worker Endpoints</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% for be in @frontend.backends %>
      <tr>
        <td><%= link_to be.name, frontend_backend_path(@frontend, be) %></td>
        <td><%= be.hostnames.map {|x| "<div>#{x}</div>"}.join("\n").html_safe %></td>
        <td><%= link_to be.server_endpoints.count, frontend_backend_server_endpoints_path(@frontend, be) %>
          <%= link_to "+", new_frontend_backend_server_endpoint_path(@frontend, be), :class => "btn btn-mini"  %></td>
        <td><%= link_to be.worker_endpoints.count, frontend_backend_worker_endpoints_path(@frontend, be) %>
        <%= link_to "+", new_frontend_backend_worker_endpoint_path(@frontend, be), :class => "btn btn-mini" %></td>
        <td><%= link_to "Edit", edit_frontend_backend_path(@frontend, be), :class => "btn btn-mini" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Backend", new_frontend_backend_path(@frontend) %>

<h3>Log
<%= button_to "Clear", clear_log_frontend_path(@frontend), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @frontend.logger.to_a do %>
      <div><%= l %></div>
  <% end %>
</div>