<H1>New Backend</H1>

<%= form_for(@backend, :url => frontend_backends_path(@frontend), :validate => true) do |f| %>
    <%= f.label(:name, "Name") %>
    <%= f.text_field :name %>
    <%= f.label(:deployment_type, "Type") %>
    <%= f.select :deployment_type, @deployment_types %>
    <%= f.label :hostnames, "Hostnames (can be regexp)" %>
    <%= f.text_field :hostnames, :value => @backend.hostnames.join(" ") %>
    <%= f.label :locations, "Locations (after /, can be regexp)" %>
    <%= f.text_field :locations, :value => @backend.locations.join(" ") %>
    <%= f.label :proxy_addresses, "Proxy Addresses (should be localhost:port or socket depending on type)" %>
    <%= f.text_field :proxy_addresses, :value => @backend.proxy_addresses.join(" ") %>
    <%= f.label :backend_addresses, "Backend Name (Swift Only)" %>
    <%= f.text_field :backend_addresses, :value => @backend.backend_addresses.join(" ") %>
    <br />
    <br />
    <%= f.submit %>
<% end %>
