<H1>New Base Backend</H1>

<%= form_for(@backend, :url => frontend_backends_path(@frontend), :validate => true) do |f| %>
    <%= f.label :frontend_address, "Frontend Address (frontend local address) Default 0.0.0.0" %>
    <%= f.text_field :frontend_address %>
    <%= f.label :hostname, "Host Name (frontend FQDN, e.g. citytransit.com)" %>
    <%= f.text_field :hostname %>
    <%= f.label :server_name, "Alternate Server Match (frontend FQDN, e.g. *.citytransit.com)" %>
    <%= f.text_field :server_name %>
    <%= f.label :cluster_address, "Cluster Address (frontend local address) Default (127.0.0.1)" %>
    <%= f.text_field :cluster_address %>
    <%= f.label :cluster_port, "Cluster Port (frontend local port)" %>
    <%= f.text_field :cluster_port %>
    <%= f.label :address, "Backend Address (Host/IP to which the web runner connects. Default 0.0.0.0)" %>
    <%= f.text_field :address %>
    <%= f.label :port, "Backend Port (port to which the web runner connects)" %>
    <%= f.text_field :port %>
    <br />
    <br />
    <%= f.submit "Create Base Backend" %>
<% end %>