<%= render :partial => "frontends/backends/update_log" %>

<h1>Backend</h1>
<%= link_to @backend.installation.name, installation_path(@backend.installation) %> >
<%= link_to @backend.frontend.host, frontend_path(@backend.frontend) %>


<table class="table table-bordered">
  <thead>
  <tr>
    <th>Master</th>
    <th>Host</th>
    <th>Port</th>
    <th>Type</th>
    <th>Hostname</th>
    <th>Server Name</th>
    <th>Configured</th>
    <th>Servers</th>
    <th>Swifts</th>
    <th>Workers</th>
  </tr>
  </thead>
  <tbody>
  <% for be in [@backend] %>
      <tr>
        <td><%= be.master_slug %></td>
        <td><%= be.host %></td>
        <td><%= be.port %></td>
        <td><%= be.backend_type %></td>
        <td><%= be.hostname %></td>
        <td><%= be.server_name %></td>
        <td id="backend_configured"><%= be.configured %></td>
        <td><%= be.server_endpoints.count %></td>
        <td><%= be.swift_endpoints.count %></td>
        <td><%= be.worker_endpoints.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Installation</th>
    <th>Frontend Name</th>
    <th>Host</th>
    <th>Type</th>
    <th>Host IP</th>
    <th>Remote Configured</th>
    <th>Backends</th>
    <th>Total Endpoints</th>
    <th>Total Workers</th>
  </tr>
  </thead>
  <tbody>
  <% for fe in [@frontend] do %>
      <tr>
        <td><%= link_to fe.installation.name, installation_path(fe.installation) %></td>
        <td><%= link_to fe.name, frontend_path(fe) %></td>
        <td><%= fe.host %></td>
        <td><%= fe.host_type %></td>
        <td><%= fe.hostip %></td>
        <td><%= fe.configured %></td>
        <td><%= fe.backends.count %></td>
        <td><%= fe.swift_endpoints.count %></td>
        <td><%= fe.worker_endpoints.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<h3>Frontend Background Operations</h3>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td><%= button_to "Start Backend", start_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart Backend", restart_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop Backend", stop_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<h3>Server Endpoints</h3>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Actions</td>
    <td><%= button_to "Update Status", status_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Create Apps", create_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Config Apps", configure_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Start Apps", start_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart Apps", restart_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy Apps", deploy_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop Apps", stop_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy Apps", destroy_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<h3>Swift Endpoints</h3>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Actions</td>
    <td><%= button_to "Update Status", status_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Create Apps", create_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Config Apps", configure_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Start Apps", start_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart Apps", restart_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy Apps", deploy_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop Apps", stop_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy Apps", destroy_all_swift_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Endpoint Type</th>
    <th>Deploy Status</th>
    <th>Remote Name</th>
    <th>Remote Status</th>
  </tr>
  </thead>
  <tbody>
  <% for se in @backend.swift_endpoints %>
  <tr id="endpoint_<%=se.id%>">
    <td><%= link_to se.name, frontend_backend_swift_endpoint_path(@frontend, @backend, se) %></td>
    <td><%= se.endpoint_type %></td>
    <td class="deploy_status"><%= se.status %></td>
    <td><%= se.remote_name %></td>
    <td class="remote_status">
      <%= render :partial => 'endpoint_remote_status', :locals => {:se => se} %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>


<h3>Worker Endpoints</h3>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Actions</td>
    <td><%= button_to "Update Status", status_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Create Apps", create_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Config Apps", configure_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Start Apps", start_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart Apps", restart_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy Apps", deploy_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop Apps", stop_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy Apps", destroy_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Endpoint Type</th>
    <th>Deploy Status</th>
    <th>Remote Name</th>
    <th>Remote Status</th>
  </tr>
  </thead>
  <tbody>
  <% for se in @backend.worker_endpoints %>
      <tr id="endpoint_<%=se.id%>">
        <td><%= link_to se.name, frontend_backend_worker_endpoint_path(@frontend, @backend, se) %></td>
        <td><%= se.endpoint_type %></td>
        <td class="deploy_status"><%= se.status %></td>
        <td><%= se.remote_name %></td>
        <td class="remote_status">
          <%= render :partial => 'endpoint_remote_status', :locals => {:se => se} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3>Log
  <%= button_to "Clear", clear_log_frontend_backend_path(@frontend, @backend), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @backend.logger.to_a do %>
      <div><%= l %></div>
  <% end %>
</div>