<%= render :partial => "frontends/backends/update_log" %>

<h1>Backend</h1>
<%= link_to @backend.installation.name, installation_path(@backend.installation) %> >
<%= link_to "#{@backend.frontend.name}(#{@backend.frontend.remote_host})", frontend_path(@backend.frontend) %>


<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Hostnames</th>
    <th>Locations</th>
    <th>Servers</th>
    <th>Workers</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% for be in [@backend] %>
      <tr>
        <td><%= link_to be.name, edit_frontend_backend_path(be.frontend, be) %></td>
        <td><%= be.hostnames.map {|x| "<div>#{x}</div>"}.join(" ").html_safe %></td>
        <td><%= be.locations.map {|x| "<div>#{x}</div>"}.join(" ").html_safe %></td>
        <td><%= be.server_endpoints.count %></td>
        <td><%= be.worker_endpoints.count %></td>
        <td><%= link_to "Edit", edit_frontend_backend_path(@frontend, be), :class => "btn btn-mini" %></td>
        <td><%= button_to "Destroy", frontend_backend_path(@frontend, be), :method => :delete, :class => "btn btn-mini" %></td>
      </tr>
  <% end %>
  <tr>
    <th>Common Endpoint Configuration</th>
    <td><%= @backend.endpoint_configuration_literal %></td>
  </tr>
  </tbody>
</table>

<H3>Proxy Addresses</H3>
<%= render :partial => 'proxy_addresss_table' %>

<h3>Frontend Background Operations</h3>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td><%= button_to "Start Backend", start_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Configure Backend", configure_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart Backend", restart_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop Backend", stop_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<h3>Server Endpoints</h3>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Actions</td>
    <td><%= link_to "New", new_frontend_backend_server_endpoint_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Update Status", status_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Create", create_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Configure", configure_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Start", start_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart", restart_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy", deploy_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop", stop_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy", destroy_all_server_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Endpoint Type</th>
    <th>Proxy Address</th>
  </tr>
  </thead>
  <tbody>
  <% for se in @backend.server_endpoints %>
      <tr id="endpoint_<%=se.id%>">
        <td><%= link_to se.name, frontend_backend_server_endpoint_path(@frontend, @backend, se) %></td>
        <td><%= se.deployment_type %></td>
        <td><%= se.proxy_address %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<h3>Worker Endpoints</h3>
<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Actions</td>
    <td><%= link_to "New", new_frontend_backend_worker_endpoint_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Update Status", status_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Create", create_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Config", configure_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Start", start_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart", restart_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy", deploy_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop", stop_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy", destroy_all_worker_endpoint_apps_frontend_backend_path(@frontend, @backend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Endpoint Type</th>
    <th>Remote Name</th>
    <th>Remote Status</th>
  </tr>
  </thead>
  <tbody>
  <% for se in @backend.worker_endpoints %>
      <tr id="endpoint_<%=se.id%>">
        <td><%= link_to se.name, frontend_backend_worker_endpoint_path(@frontend, @backend, se) %></td>
        <td><%= se.deployment_type %></td>
        <td><%= se.remote_name %></td>
        <td class="remote_status">
          <%= render :partial => 'endpoint_remote_status', :locals => {:se => DeployEndpointJob.where(:endpoint_id => se.id).first} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3>Log
  <%= button_to "Clear", clear_log_frontend_backend_path(@frontend, @backend), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @backend.logger.to_a do %>
      <div><%= l %></div>
  <% end %>
</div>