<%= content_for :head do %>
    <%= render :partial => "update_log" %>
<% end %>
<h1>Frontend</h1>
> <%= link_to @frontend.installation.name, installation_path(@frontend.installation) %>
<div id="frontend_table">
<%= render :partial => 'frontend_table' %>
</div>

<h2>Backends</h2>
<table class="table table-bordered">
  <thead><tr>
    <th>Name</th>
    <th>Hostnames</th>
    <th>Locations</th>
    <th>Server Endpoints</th>
    <th>Worker Endpoints</th>
  </tr></thead>
  <tbody>
  <% for be in @frontend.backends.order(:name).all %>
      <tr>
        <td><%= link_to be.name, frontend_backend_path(@frontend, be) %></td>
        <td><%= be.hostnames.map {|x| "<div>#{x}</div>"}.join(" ").html_safe %></td>
        <td><%= be.locations.map {|x| "<div>#{x}</div>"}.join(" ").html_safe %></td>
        <td><%= link_to be.server_endpoints.count, frontend_backend_server_endpoints_path(@frontend, be) %>
          <%= link_to "+", new_frontend_backend_server_endpoint_path(@frontend, be), :class => "btn btn-mini" %>
        </td>
        <td><%= link_to be.worker_endpoints.count, frontend_backend_worker_endpoints_path(@frontend, be) %>
          <%= link_to "+", new_frontend_backend_worker_endpoint_path(@frontend, be), :class => "btn btn-mini" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Backend", new_frontend_backend_path(@frontend) %>
<br />
<%= link_to "All Frontends", frontends_path(:installation_id => @installation.id) %>

<h3>Log
  <%= button_to "Clear", clear_log_frontend_path(@frontend), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @frontend_job.logger.to_a do %>
      <div><%= l %></div>
  <% end if @frontend_job %>
</div>