<h1>Frontend</h1>

<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Frontend Name</th>
    <td><%= link_to @frontend.name, edit_frontend_path(@frontend) %></td>
    <th>Installation</th>
    <td><%= link_to @frontend.installation.name, installation_path(@frontend.installation) %></td>
    <th colspan="3">Actions</th>
  </tr>
  <tr>
    <th>Remote Host</th>
    <td><%= @frontend.remote_host %></td>
    <td><%= @frontend.remote_user %></td>
    <td><%= @frontend.admin_user %></td>
    <td><%= link_to "Mange Backends", frontend_backends_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= link_to "Edit", edit_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy", frontend_path(@frontend), :method => :delete, :class => "btn btn-mini" %></td>
    <th colspan="2"></th>
  </tr>
  <tr>
    <th>Git Commit</th>
    <td>
      <% for s in @frontend.git_commit do %>
          <div><%= s %></div>
      <% end if @frontend.git_commit %>
    </td>
  </tr>
  <tr>
    <td><%= button_to "Create Remote", create_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy to Remote", deploy_to_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Configure Remote", configure_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Start Remote", start_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart Remote", restart_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop Remote", stop_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Deconfigure Remote", deconfigure_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy Remote", destroy_remote_frontend_path(@frontend), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>

<h2>Backends</h2>
<table class="table table-bordered">
  <thead><tr>
    <th>Name</th>
    <th>Hostnames</th>
    <th colspan="2">Server Endpoints</th>
    <th colspan="2">Swift Endpoints</th>
    <th colspan="2">Worker Endpoints</th>
    <th>Actions</th>
  </tr></thead>
  <tbody><% for be in @frontend.backends.order(:name).all %>
      <tr>
        <td><%= link_to be.name, frontend_backend_path(@frontend, be) %></td>
        <td><%= be.hostnames.join(" ") %></td>
        <td><%= be.server_endpoints.count %>
          <%= link_to "+", new_frontend_backend_server_endpoint_path(@frontend, be), :class => "btn btn-mini" %>
        </td><td><%= link_to "All", frontend_backend_server_endpoints_path(@frontend, be) %></td>
        <td><%= be.server_endpoints.count %>
          <%= link_to "+", new_frontend_backend_swift_endpoint_path(@frontend, be), :class => "btn btn-mini" %>
        </td><td><%= link_to "All", frontend_backend_swift_endpoints_path(@frontend, be) %></td>
        <td><%= be.worker_endpoints.count %>
          <%= link_to "+", new_frontend_backend_worker_endpoint_path(@frontend, be), :class => "btn btn-mini" %></td>

        <td><%= link_to "All", frontend_backend_worker_endpoints_path(@frontend, be) %></td>
        <td><%= link_to "Show", frontend_backend_path(@frontend, be), :class => "btn btn-mini" %></td>
        <td><%= button_to "Destroy All", backend_path(be), :method => :delete, :class => "btn btn-mini" %></td>
              </tr>
  <% end %></tbody>
</table>

<%= link_to "New Backend", new_backend_path(:frontend_id => @frontend.id) %> |
<%= link_to "New Base Backend", new_base_frontend_backends_path(@frontend) %>
<br />
<%= link_to "All Frontends", frontends_path %>