<h1>Backend Server Endpoints</h1>
<%= link_to @backend.installation.name, installation_path(@backend.installation) %> >
<%= link_to @backend.frontend.host, frontend_path(@backend.frontend) %>

<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Backend</th>
    <td><%= link_to @backend.name, frontend_backend_path(@frontend, @backend) %></td>
  </tr>
  <tr>
    <th>Host</th>
    <td><%= @backend.host %></td>
  </tr>
  <tr>
    <th>Port</th>
    <td><%= @backend.port %></td>
  </tr>
  <tr>
    <th>Master</th>
    <td><%= @backend.master_slug %></td>
  </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Frontend</th>
    <td><%= link_to @frontend.name, frontend_backends_path(@frontend) %></td>
  </tr>
  <tr>
    <th>Host IP</th>
    <td><%= @frontend.hostip %></td>
  </tr>
  </tbody>
</table>

<table class="table table-border">
  <thead>
  <th>Name</th>
  <th>Type</th>
  <th>Status</th>
  <th>Servers</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <% for se in @server_endpoints do %>
      <tr>
        <td><%= link_to se.name, frontend_backend_server_endpoint_path(@frontend, @backend, se)  %></td>
        <td><%= se.endpoint_type %></td>
        <td><%= se.status %></td>
        <td><%= se.n_servers %></td>
        <td><%= button_to "Clear Log", clear_log_frontend_backend_server_endpoint_path(@frontend, @backend, se), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
        <td><%= button_to "Create App", create_app_frontend_backend_server_endpoint_path(@frontend, @backend, se), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
        <td><%= button_to "Deploy App", deploy_app_frontend_backend_server_endpoint_path(@frontend, @backend, se), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
        <td><%= button_to "Start App", start_app_frontend_backend_server_endpoint_path(@frontend, @backend, se), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
        <td><%= button_to "Destroy App", destroy_app_frontend_backend_server_endpoint_path(@frontend, @backend, se), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
        <td><%= button_to "Update Status", remote_status_frontend_backend_server_endpoint_path(@frontend, @backend, se), :class => "btn btn-mini" %></td>
        <td><%= button_to "Delete", frontend_backend_server_endpoint_path(@frontend, @backend, se), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Add Server Endpoint", new_frontend_backend_server_endpoint_path(@frontend, @backend) %>
