<%= render :partial => "frontends/backends/server_endpoint/update_log" %>

<h1>Server Endpoint</h1>

<%= link_to @server_endpoint.installation.name, installation_path(@server_endpoint.installation) %> >
<%= link_to @server_endpoint.frontend.remote_host, frontend_path(@server_endpoint.frontend) %> >
<%= link_to @server_endpoint.backend.name, frontend_backend_path(@server_endpoint.frontend, @server_endpoint.backend) %>
<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Name</th>
    <td><%= @server_endpoint.name %></td><td><%= button_to "Delete", frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini" %></td>

  </tr>
  <tr>
    <th>Endpoint Type</th>
    <td><%= @server_endpoint.deployment_type %></td>
    <td><%= @server_endpoint.remote_user %></td>
    <td><%= @server_endpoint.remote_host %></td>
    <td><%= @server_endpoint.proxy_address %></td>
    <td>Servers: <%= @server_endpoint.n_servers %></td>
  </tr>
  <tr>
    <td><%= button_to "Create App", create_app_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
    <td><%= button_to "Configure App", configure_app_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
    <td><%= button_to "Deploy App", deploy_app_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
    <td><%= button_to "Start App", start_app_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
    <td><%= button_to "Restart App", restart_app_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
    <td><%= button_to "Stop App", stop_app_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
    <td><%= button_to "Truncate Logs", truncate_remote_logs_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :confirm => "Are you sure?", :class => "btn btn-mini" %></td>
    <td><%= button_to "Destroy App", destroy_app_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini" %></td>

  </tr>
  <tr>
    <th>Status</th>
    <td id="endpoint_git_status" colspan="5">
      <% for s in @server_endpoint_job.git_commit do %>
          <div><%= s %></div>
      <% end if @server_endpoint_job && @server_endpoint_job.git_commit %>
    </td>
  </tr>
  <tr>
    <th>Remote Status</th>
    <td id="endpoint_remote_status">
      <%= render :partial => "endpoint_remote_status" %>
    </td>
    <td><%= button_to "Update Status", remote_status_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :class => "btn btn-mini" %></td>
    <td><%= button_to "Get Logs", get_logs_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :class => "btn btn-mini" %></td>
  </tr>
  </tbody>
</table>


<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Frontend</th>
    <td><%= link_to @frontend.name, frontend_backends_path(@frontend) %></td>
  </tr>
  <tr>
    <th>Host IP</th>
    <td><%= @frontend.external_ip %></td>
  </tr>
  </tbody>
</table>

<%= render :partial => "frontends/backends/backend_table" %>


<h3>Log
  <%= button_to "Clear", clear_log_frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint), :class => "btn" %>  </h3>
<div id="log">
  <% for l in @server_endpoint.logger.to_a do %>
      <div><%= l %></div>
  <% end %>
</div>