<h1>Remote Swift Endpoint Log</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Master</th>
    <th>Backend</th>
    <th>Frontend</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= link_to @swift_endpoint.name, frontend_backend_swift_endpoint_path(@frontend, @backend, @swift_endpoint) %></td>
    <td><%= @backend.master_slug %></td>
    <td><%= link_to @backend.name, frontend_backends_path(@frontend, @backend) %></td>
    <td><%= @frontend.name %></td>
  </tr>
  </tbody>
</table>
<p></p>
<div class='row'>
  <div class="span2">
    <%= button_to "Update", get_logs_frontend_backend_swift_endpoint_path(@frontend, @backend, @swift_endpoint), :class => "btn" %>
  </div>
  <div class="span2">
    <%= link_to "Reload", remote_log_frontend_backend_swift_endpoint_path(@frontend, @backend, @swift_endpoint), :class => "btn" %>
  </div>
</div>
<p></p>
<% if @swift_endpoint.swift_endpoint_remote_log %>
    <% for line in @swift_endpoint.swift_endpoint_remote_log.to_a %>
    <div><%= line %></div>
    <%  end %>
<% else %>
 <div>No Logs Available</div>
<% end %>